/* ----------------------------------------------------------- */
/* == tingle v0.14.0 */
/* ----------------------------------------------------------- */

.tingle-modal * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.tingle-modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  visibility: hidden;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  background: rgba(0, 0, 0, .8);
  opacity: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  -webkit-transition: -webkit-transform .2s ease;
  transition: -webkit-transform .2s ease;
  -o-transition: transform .2s ease;
  transition: transform .2s ease;
  transition: transform .2s ease, -webkit-transform .2s ease;
}

/* confirm and alerts
-------------------------------------------------------------- */

.tingle-modal--confirm .tingle-modal-box {
  text-align: center;
}

/* modal
-------------------------------------------------------------- */

.tingle-modal--noOverlayClose {
  cursor: default;
}

.tingle-modal--noClose .tingle-modal__close {
  display: none;
}

.tingle-modal__close {
  position: fixed;
  top: 10px;
  right: 20px;
  z-index: 1000;
  padding: 0;
  width: 96px;
  height: 96px;
  border: none;
  background-color: transparent;
  color: #6c757d;
  font-size: 6rem;
  line-height: 1;
  cursor: pointer;
  -webkit-transition: color .3s ease;
  -o-transition: color .3s ease;
  transition: color .3s ease;
}

.tingle-modal__closeLabel {
  display: none;
}
.tingle-modal__close:focus{
  outline: none;
}
.tingle-modal-box {
  position: relative;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  margin-top: auto;
  margin-bottom: auto;
  width: 70%;
  background: url(../inc/images/bg.png);
  background-color: #2F2F2F;
  opacity: 1;
  border-radius: 2px;
  cursor: auto;
  -webkit-box-shadow: 0 3px 6px #1a1a1a;
  box-shadow: 0 3px 6px #1a1a1a;
  -webkit-transition: -webkit-transform .3s cubic-bezier(0.445, 0.050, 0.550, 0.950);
  transition: -webkit-transform .3s cubic-bezier(0.445, 0.050, 0.550, 0.950);
  -o-transition: transform .3s cubic-bezier(0.445, 0.050, 0.550, 0.950);
  transition: transform .3s cubic-bezier(0.445, 0.050, 0.550, 0.950);
  transition: transform .3s cubic-bezier(0.445, 0.050, 0.550, 0.950), -webkit-transform .3s cubic-bezier(0.445, 0.050, 0.550, 0.950);
  -webkit-transform: scale(.8);
  -ms-transform: scale(.8);
  transform: scale(.8);
}

.tingle-modal-box__content {
  padding: 0.5rem 3rem 3rem 3rem;
}
.tingle-modal-box__content .video_content{
  margin: 0;
}
.tingle-modal-box__footer {
  padding: 1.5rem 2rem;
  width: auto;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  background-color: #f5f5f5;
  cursor: auto;
}

.tingle-modal-box__footer::after {
  display: table;
  clear: both;
  content: "";
}

.tingle-modal-box__footer--sticky {
  position: fixed;
  bottom: -200px; /* TODO : find a better way */
  z-index: 10001;
  opacity: 1;
  -webkit-transition: bottom .3s ease-in-out .3s;
  -o-transition: bottom .3s ease-in-out .3s;
  transition: bottom .3s ease-in-out .3s;
}

/* state
-------------------------------------------------------------- */

.tingle-enabled {
  position: fixed;
  right: 0;
  left: 0;
  overflow: hidden;
}

.tingle-modal--visible .tingle-modal-box__footer {
  bottom: 0;
}

.tingle-enabled .tingle-content-wrapper {
  -webkit-filter: blur(8px);
  filter: blur(8px);
}

.tingle-modal--visible {
  visibility: visible;
  opacity: 1;
}

.tingle-modal--visible .tingle-modal-box {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

.tingle-modal--overflow {
  overflow-y: scroll;
  padding-top: 8vh;
}

/* btn
-------------------------------------------------------------- */

.tingle-btn {
  display: inline-block;
  margin: 0 .5rem;
  padding: 1rem 2rem;
  border: none;
  background-color: grey;
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #fff;
  vertical-align: middle;
  text-decoration: none;
  font-size: inherit;
  font-family: inherit;
  line-height: normal;
  cursor: pointer;
  -webkit-transition: background-color .4s ease;
  -o-transition: background-color .4s ease;
  transition: background-color .4s ease;
}

.tingle-btn--primary {
  background-color: #3498db;
}

.tingle-btn--danger {
  background-color: #e74c3c;
}

.tingle-btn--default {
  background-color: #34495e;
}

.tingle-btn--pull-left {
  float: left;
}

.tingle-btn--pull-right {
  float: right;
}

/* responsive
-------------------------------------------------------------- */
@media (min-width : 651px) and (max-width: 800px){
  .tingle-modal-box {
    width: 80%;
  }
  .tingle-modal__close{
    top: 0px;
    right: 0px;
    height: 64px;
    width: 64px;
  }
  .tingle-modal__closeIcon {
    font-size: 4rem;
    vertical-align: text-top;
  }
}
@media (min-width : 541px) and (max-width: 650px){
  .tingle-modal-box {
    width: 90%;
  }
  .tingle-modal__close{
    top: 0px;
    right: 0px;
    height: 48px;
    width: 48px;
  }
  .tingle-modal__closeIcon {
    
    font-size: 3rem;
    vertical-align: text-top;
  }
}
@media (max-width : 540px) {
  .tingle-modal {
    top: 0px;
    display: block;
    padding-top: 60px;
    width: 100%;
  }

  .tingle-modal-box {
    width: auto;
    border-radius: 0;
  }

  .tingle-modal-box__content {
    overflow-y: scroll;
  }

  .tingle-modal--noClose {
    top: 0;
  }

  .tingle-modal--noOverlayClose {
    padding-top: 0;
  }

  .tingle-modal-box__footer .tingle-btn {
    display: block;
    float: none;
    margin-bottom: 1rem;
    width: 100%;
  }

  .tingle-modal__close {
    top: 0;
    right: 0;
    left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    height: 60px;
    border: none;
    background: -webkit-radial-gradient(center, ellipse, #c5ff32 0%,#b0db43 100%);
    background: -o-radial-gradient(center, ellipse, #c5ff32 0%,#b0db43 100%);
    background: radial-gradient(ellipse at center, #c5ff32 0%,#b0db43 100%);
    -webkit-box-shadow: none;
    box-shadow: none;
    line-height: 60px;
  }
  .tingle-modal__closeLabel {
    font-size: 1.5rem;
    display: inline-block;
    vertical-align: middle;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bold;
  }

  .tingle-modal__closeIcon {
    margin-right: .5rem;
    font-size: 3rem;
    height: 50px;
    width: 50px;
  }
}

@supports ((-webkit-backdrop-filter: blur(12px)) or (backdrop-filter: blur(12px))) {
  .tingle-modal {
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
  }

  @media (max-width : 540px) {
    .tingle-modal {
      -webkit-backdrop-filter: blur(8px);
      backdrop-filter: blur(8px);
    }
  }

  .tingle-enabled .tingle-content-wrapper {
    -webkit-filter: none;
    filter: none;
  }
}