.comment-list .children{
	padding-left: 60px;
}
.thumbnail_cnt, .video_thumbnail_cnt{
	.video_play_btn{
		padding: 12px 18px;
		font-size: 1.4rem;
	}
}
.index_post{
	&__heading{
		font-size: 1.4rem;
		padding: 0.5rem 0;
		&--w_thum{
			padding: 0.4rem 1rem 0.1rem 1rem;
			margin-top: 1rem;
			background-color: #f8f9fa;
			color: #2F2F2F;
			-webkit-transition: color .3s cubic-bezier(0.445, 0.05, 0.55, 0.95) 0s;
			-o-transition: color .3s cubic-bezier(0.445, 0.05, 0.55, 0.95) 0s;
			transition: color .3s cubic-bezier(0.445, 0.05, 0.55, 0.95) 0s;
		}
	}
}
.thumbnail_cnt__link.heading_w_thum{
	&:hover > .index_post__heading--w_thum{
		color: #e83e8c;
	}
}
.single_page_p{
	&--w_picture{
		margin: 0 1rem;
		margin-top: -2.5rem;
	}
}
.single_title{
	font-size: 2rem;
	padding: 1em 0 1em;
}
/*streams page start*/
.controles_cnt{
	&__title{
		text-align: left;
	}
	&__buttons{
		-webkit-box-flex: 1;
		-ms-flex: 1 0 500px;
		flex: 1 0 500px;
		.button{
			-webkit-box-flex: 1;
			-ms-flex: 1 0 100px;
			flex: 1 0 100px;
			font-size: 1rem;
			padding: 0.5rem 1rem;
			padding-top: 0.7rem;
		}
	}
}
.stream_page{
	.name, .viewers, .live{
		font-size: 1em;
	}
    .stream_page_item_title{
        font-size: 18px;
	}
}
/*streams page end*/
/* search archive page start*/
.search, .archive{
	.index_post{
		&__heading{
			font-size: 1.6rem;
			padding: 0.5rem 0;
			&--w_thum{
				padding: 0.4rem 1rem 0.1rem 1rem;
				margin-top: 1rem;
				background-color: #f8f9fa;
				color: #2F2F2F;
				-webkit-transition: color .3s cubic-bezier(0.445, 0.05, 0.55, 0.95) 0s;
				-o-transition: color .3s cubic-bezier(0.445, 0.05, 0.55, 0.95) 0s;
				transition: color .3s cubic-bezier(0.445, 0.05, 0.55, 0.95) 0s;
			}
		}
	}
    .thumbnail_cnt__link.heading_w_thum{
    	&:hover > .index_post__heading--w_thum{
			color: #e83e8c;
    	}
    }
}
/* search archive page end*/