.home, .search, .archive{
    [class*="col-"] {
		padding-left: 20px;
		padding-right: 20px;
	}
}
[class*="col-"] {
	padding-left: 20px;
	padding-right: 20px;
}
.container{
	padding-left: 20px;
	padding-right: 20px;
}
#mobile_menu_btn{
	display: none;
}
.mobile_menu_cnt{
	display: none;
}
.site_header{
	>a>img{
		max-height: 160px;
	}
}
.filter_cnt{
	&__button{
		left: 0px;
	}
	.sorting_post_cnt{
		&__item{
			-webkit-box-flex: 1;
			-ms-flex: 1 1 800px;
			flex: 1 1 800px;
			padding: 20px 0;
			.cat_title{
				width: 100%;
				padding: 0 20px;
				padding-bottom: 20px;
			}
			.category_field{
				-webkit-box-flex: 1;
				-ms-flex: 0 1 320px;
				flex: 0 1 320px;
				padding: 0 20px;
			}
			&:last-of-type{
				-webkit-box-flex: 1;
				-ms-flex: 1 1 30%;
				flex: 1 1 30%;
				padding: 20px;
			}
		}
	}
}
.filter_cnt .show {
	max-height: none;
}
.home{
	.index_post{
		&:first-of-type{
			margin-top: 6rem;
			h1{
				padding-top: 5px;
			}
		}
	}
}
.go_top{
	bottom: 20px;
	right: 36px;
	height: 5rem;
	width: 5rem;
	&__icon{
		z-index: 100;
		height: inherit;
		width: inherit;
		.icon{
			font-size: 5rem;
			z-index: 1;
		}
	}
}
.index_post{
	&__heading{
		font-size: 1.3rem;
		padding: 1rem 0;
		&--w_thum{
			padding: 0.4rem 1rem 0.1rem 1rem;
			margin-top: 0;
			background-color: rgba(#2F2F2F, 0.9);
			color: inherit;
			-webkit-transition: none;
			-o-transition: none;
			transition: none;
		}
	}
	&__info{
		padding: 0;
	}
	&__excerpt--w_thum{
		margin: 0 2.5rem;
		margin-top: -2.5rem;
	}
}
.thumbnail_cnt__link.heading_w_thum{
	&:hover > .index_post__heading--w_thum{
		color: inherit;
	}
}
/* widget */
.best_cas{
	&__list{
		>li{
            -webkit-box-pack: start;
            -ms-flex-pack: start;
            justify-content: flex-start;
		}
		.ratings_cnt.position-relative, .ratings_cnt.position-absolute{
			.post-ratings{
				img{
					width: 12px;
				}
				font-size: 10px;
			}
		}
		.ratings_cnt.position-absolute{
			bottom: 5px;
		}
	}
}
.widget_title_cnt{
	margin-right: 12px;
}
.widget_title{
	padding-left: 10px;
	padding-right: 0;
	-ms-flex-item-align: auto;
	-ms-grid-row-align: auto;
	align-self: auto;
	font-size: 14px;
}
.widget_cas_img_cnt{
	width: 120px;
	&__img{
		width: 120px;
	}
}
.side_panel{
	padding: 0;
	padding-top: 1rem;
	padding-bottom: 1rem; 
}
.video_page{
	padding-right: 20px;
    padding-left: 20px;
}
.col-12.footer{
	padding-left: 2.5rem;
	padding-right: 2.5rem;
}
.footer{
	.footer_content{
		&__footer_menu{
			.menu{
				text-align: left;
			}
		}
	}
}
.single_page_p{
	&--w_picture{
		margin: 0 1.5rem;
		margin-top: -2.5rem;
	}
}
/* stream page start*/
.live_streams .main{
	padding-right: 20px;
	padding-left: 20px;
}
.stream_page__item, .grid-sizer {
  width: 33.33333%;
}
/* stream page end*/

/*search page start*/
.search_results_page{
	&__form{
		text-align: left;
	}
}
.search_header{
	text-align: left;
}
/*search page end*/