@import "functions";
@import "variables";
@import "../bootstrap-4/scss/bootstrap-grid";
@import "../bootstrap-4/scss/utilities/_spacing";
@mixin trans($prop: all, $duration: 0.3s, $easing: $cubic){
	-webkit-transition: $prop $duration $easing 0s;
	-o-transition: $prop $duration $easing 0s;
	transition: $prop $duration $easing 0s;
}
/* variables start*/
$paginate_val: 15px;
$cus_pink: #e83e8c;
$pagination_link_col: #2F2F2F;
$pagination_link_col_hov: #B0DB43;
$cus_gray: #f0f2f4;
$gray_shadow: #d9d9d9;
$cubic: cubic-bezier(0.445, 0.050, 0.550, 0.950);
$show_filter_btn_col: #7999a9;
$pale_green: #B0DB43;
$cus_black: #2F2F2F;
$menu_sp: 22px;
/* variables end*/
/* fonts*/
@font-face {
    font-family: 'Josefin Sans';
    src: url('../fonts/JosefinSans-SemiBold.woff2') format('woff2'),
        url('../fonts/JosefinSans-SemiBold.woff') format('woff'),
        url('../fonts/JosefinSans-SemiBold.ttf') format('truetype'),
        url('../fonts/JosefinSans-SemiBold.svg#JosefinSans-SemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Josefin Sans';
    src: url('../fonts/JosefinSans-Regular.woff2') format('woff2'),
        url('../fonts/JosefinSans-Regular.woff') format('woff'),
        url('../fonts/JosefinSans-Regular.ttf') format('truetype'),
        url('../fonts/JosefinSans-Regular.svg#JosefinSans-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Josefin Sans';
    src: url('../fonts/JosefinSans-Bold.woff2') format('woff2'),
        url('../fonts/JosefinSans-Bold.woff') format('woff'),
        url('../fonts/JosefinSans-Bold.ttf') format('truetype'),
        url('../fonts/JosefinSans-Bold.svg#JosefinSans-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Josefin Sans';
    src: url('../fonts/JosefinSans-Italic.woff2') format('woff2'),
        url('../fonts/JosefinSans-Italic.woff') format('woff'),
        url('../fonts/JosefinSans-Italic.ttf') format('truetype'),
        url('../fonts/JosefinSans-Italic.svg#JosefinSans-Italic') format('svg');
    font-weight: normal;
    font-style: italic;
}

html{
	font-size: 16px;
}
body{	
	color: $gray-600;
	font-family: 'Josefin Sans', sans-serif;
	font-weight: normal;
    font-style: normal;
    background-color: $gray-100;
    overflow-x: hidden;
}
*{
	margin:0;
	padding:0;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box; 
}
img{
	border: none;
    max-width: 100%;
    width: 100%;
    height: auto;
    display: block;
}
p{
	margin-bottom: 1em;
	line-height: 1.4;
}

h1, h2, h3, h4 {
	padding: 0.5em 0 0.5em;
	font-weight: inherit;
	line-height: 1.2;
}
h1 {font-size: 3em;}
h2 {font-size: 2.5em;}
h3 {font-size: 2em;}
h4 {font-size: 1.5em;}
ul{
	list-style-type: none;
	list-style-position: inside;
}
a{
    @include trans(color, 0.3s, $cubic);
	text-decoration: underline;
	&:link{
		color: $cus_pink;
	}
	&:visited{
		color: $gray-500;
	}
	&:hover{
		color: $pale_green;
	}
}
*::-moz-selection{
	background-color: lighten($pale_green, 10);
	color: $white;
} 
*::selection{
	background-color: lighten($pale_green, 10);
	color: $white;
}
.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	stroke-width: 0;
	stroke: currentColor;
	fill: currentColor;
}

/* ==========================================
Single-colored icons can be modified like so:
.name {
  font-size: 32px;
  color: red;
}
========================================== */
/* global padding and position start*/
.home, .search, .archive{
    [class*="col-"] {
		padding-left: 0px;
		padding-right: 0px;
	}
}
[class*="col-"] {
	padding-left: 20px;
	padding-right: 20px;
}
.container{
	padding-left: 20px;
	padding-right: 20px;
}
.container-fluid {
	padding-left: 20px;
	padding-right: 20px;
}
.row {
	margin-right: -20px;
    margin-left: -20px;
}
.position-relative{
	position: relative;
}
.position-absolute{
	position: absolute;
}
.overfl{
	overflow: hidden; 
}
.mh{
	min-height: calc(100vh - 181px);
}
/* global padding and position end*/

.play-circle {
	width: 0.857421875em;
}
/* scroll bar styles start*/
.scrollbar-track-y, .scrollbar-track-x{
	width: 6px !important;
	background: transparent!important;
}
.scrollbar-thumb{
	left: 0px !important;
	right: 0px !important;
	height: 12px;
	width: 6px !important;
	background: rgba($pale_green, .75) !important;
    border-radius: 2px !important;
    -webkit-transition: background .2s cubic-bezier(0.445, 0.050, 0.550, 0.950);
    -o-transition: background .2s cubic-bezier(0.445, 0.050, 0.550, 0.950);
    transition: background .2s cubic-bezier(0.445, 0.050, 0.550, 0.950);
    &:hover{
    	background: rgba($pale_green, .9) !important;
    }
}
/* scroll bar styles end*/

/* blazy styles start*/
.thumbnail_img, .single_post_thumbnail, .thumbnail_img_v_p, .thumbnail_img_s_p{
	@include trans();
	max-width: 100%;
	opacity: 0;
}
.thumbnail_img.b-loaded, .single_post_thumbnail.b-loaded, .thumbnail_img_v_p.b-loaded, .thumbnail_img_s_p.b-loaded{
	opacity: 1;
}
/* blazy styles end*/

/* nav*/
/* .nav{*/
/* 	padding: 10px 0;*/
/* 	display: none;*/
/* 	a{*/
/* 		font-size: 1.5rem;*/
/* 		-webkit-transition: color .2s cubic-bezier(0.445, 0.050, 0.550, 0.950);*/
/* 		-o-transition: color .2s cubic-bezier(0.445, 0.050, 0.550, 0.950);*/
/* 		transition: color .2s cubic-bezier(0.445, 0.050, 0.550, 0.950);*/
/* 		font-weight: bold;*/
/* 		text-decoration: none;*/
/* 		padding: 0 10px;*/
/* 		line-height: 36px;*/
/* 		&:link{*/
/* 			color: $gray-600;*/
/* 		}*/
/* 		&:visited{*/
/* 			color: $gray-600;*/
/* 		}*/
/* 		&:hover{*/
/* 			color: $pale_green;*/
/* 		}*/
/* 	}*/
/* 	&__inner{*/
/* 		background: -webkit-radial-gradient(center, ellipse, #c5ff32 0%,#b0db43 100%);*/
/* 		background: -o-radial-gradient(center, ellipse, #c5ff32 0%,#b0db43 100%);*/
/* 		background: radial-gradient(ellipse at center, #c5ff32 0%,#b0db43 100%);*/
/* 		padding: 9px 0.5rem;*/
/* 		padding-top: 0;*/
/* 		margin-right: 14px;*/
/* 		-webkit-box-shadow: 0 3px 6px $gray-900;*/
/* 		box-shadow: 0 3px 6px $gray-900;*/
/* 	}*/
/* }*/
/* .widget_title_cnt{*/
/* 	background: -webkit-radial-gradient(center, ellipse, #c5ff32 0%, #b0db43 100%);*/
/*     background: -o-radial-gradient(center, ellipse, #c5ff32 0%, #b0db43 100%);*/
/*     background: radial-gradient(ellipse at center, #c5ff32 0%, #b0db43 100%);*/
/*     padding: 9px 0.5rem;*/
/*     padding-top: 0;*/
/*     -webkit-box-shadow: 0 3px 6px #777;*/
/*     box-shadow: 0 3px 6px #777;*/
/* }*/
/* .nav_list, .widget_title_cnt__title{*/
/* 	position: relative;*/
/* 	width: calc(100% + #{$menu_sp} * 2);*/
/* 	left: -$menu_sp;*/
/* 	background: url(../inc/images/bg.png);*/
/* 	background-color: #333333;*/
/* 	-webkit-box-shadow: 0 3px 6px $gray-900;*/
/* 	box-shadow: 0 3px 6px $gray-900;*/
/* 	&::before {*/
/* 	    display: block;*/
/* 	    content: "";*/
/* 	    width: 0;*/
/* 	    height: 0;*/
/* 	    border-style: solid;*/
/* 	    border-width: 0 14px 9px 0;*/
/* 	    border-color: transparent $gray-900 transparent;*/
/* 	    position: absolute;*/
/* 	    left: 0;*/
/* 	    bottom: -9px;*/
/* 	}*/
/* 	&::after {*/
/* 	    display: block;*/
/* 	    content: "";*/
/* 	    width: 0;*/
/* 	    height: 0;*/
/* 	    border-style: solid;*/
/* 	    border-width: 9px 14px 0 0;*/
/* 	    border-color: $gray-900 transparent transparent transparent;*/
/* 	    position: absolute;*/
/* 	    right: 0;*/
/* 	    bottom: -9px;*/
/* 	}*/
/* }*/
/* .nav_list{*/
/* 	padding-top: 5px;*/
/* }*/
/* mobile menu start*/
.mobile_menu_cnt.hidden{
	opacity: 0;
	pointer-events: none;
	visibility: hidden;
}
.mobile_menu_toggle{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}
#mobile_menu_btn {
	margin-top: 10px;
	height: 30px;
	width: 80px;
	cursor: pointer;
	display: block;
	z-index: 200;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	&:hover span:nth-of-type(1), &:active span:nth-of-type(1), &:focus span:nth-of-type(1){
        -webkit-transform: translateX(-10%);
        -ms-transform: translateX(-10%);
        transform: translateX(-10%);
	}
	&:hover span:nth-of-type(2), &:active span:nth-of-type(2), &:focus span:nth-of-type(2){
        -webkit-transform: translateX(10%);
        -ms-transform: translateX(10%);
        transform: translateX(10%);
	}
	&:focus{
		outline: 0;
		border:none;
		color: rgba(0, 0, 0, 0);
	}
}
.mobile_menu_toggle__button span {
	pointer-events: none;
	background-color: #ecf0f1;
	width: 80px;
	height: 4px;
	margin: 5px 0;
	border-radius: 2px;
	position: absolute;
	-webkit-transition: .3s cubic-bezier(0.445, 0.050, 0.550, 0.950);
	-o-transition: .3s cubic-bezier(0.445, 0.050, 0.550, 0.950);
	transition: .3s cubic-bezier(0.445, 0.050, 0.550, 0.950);
	z-index: 1;
}

#mobile_menu_btn span:nth-of-type(1){
	margin-top: 0;
}
#mobile_menu_btn span:nth-of-type(2){
	margin-top: 16px;
}
.mobile_menu_cnt{
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
    height: 100vh;
	background-color: rgba($black, .58);
	z-index: 400;
	opacity: 1;
	pointer-events: auto;
	visibility: visible;
	-webkit-transition: opacity 0.3s linear, visible 0.3s linear;
	-o-transition: opacity 0.3s linear, visible 0.3s linear;
	transition: opacity 0.3s linear, visible 0.3s linear;
	&__inner{
		height: 100%;
		width: 384px;
		background-color: $cus_black;
		@include trans(all, 0.5s, $cubic);
		position: relative;
		overflow: auto;
		-webkit-box-shadow: 1px 0px 6px $cus_black;
		box-shadow: 1px 0px 6px $cus_black;
		will-change: transform;
		&:after{
			@media (min-height: 799px) {
				content: 'www.potatosites.com';
				position: absolute;
				bottom: 0;
				display: block;
				text-align: center;
				color: $white;
				font-size: 2rem;
				width: 100%;
				opacity: 0.5;
				font-weight: 500;
			}
		}
		.menu_content{
			position: relative;
			height: auto;
			padding-top: 200px;
			padding-bottom: 200px;
		}
		.mobile_menu_list_cnt{
			padding-top: 80px;
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
			&__mobile_list{
				font-weight: 500;
				font-size: 2rem;
				padding-top: 2rem;
				a{
					&:link{
						color: $white;
					}
					&:visited{
						color: $white;
					}
					&:hover{
						color: $cus_pink;
					}
				}
			}
		}
		.close_menu_cnt{
			position: absolute;
			top: 200px;
			right: 50%;
			-webkit-transform: translateX(50%);
			-ms-transform: translateX(50%);
			transform: translateX(50%);
		}
		.menu_logo{
			color: $white;
			font-size: 2rem;
			position: absolute;
			bottom: 0;
			left: 0;
		}
	}
	&__inner.column_hidden{
        -webkit-transform: translate3d(-100%, 0, 0);
		transform: translate3d(-100%, 0, 0);
	}

}
/* mobile menu end*/
.offset{
	-webkit-transform: translate3d(200px, 0, 0);
	transform: translate3d(200px, 0, 0);
}
/* posts loader start*/
.post_w_thum_loader{
	position: relative;
	height: 0;
	padding-bottom: 37.5%;
	background-color: $cus_gray;
	-webkit-box-shadow: 0px 1px 3px $gray_shadow;
	box-shadow: 0px 1px 3px $gray_shadow;	
}
.post_excerpt_loader{
	height: 5rem;
	margin: 0 2.5rem;
	margin-top: -2.5rem;
	background-color: $cus_gray;
	position: relative;
	&:after{
		content: "";
		display: block;
		-webkit-box-shadow: 0px 1px 3px $gray_shadow;
	    box-shadow: 0px 1px 3px $gray_shadow;
	    position: absolute;
	    bottom: 0px;
	    left: 0;
	    right: 0;
	    height: 100%;
	    width: 100%;
	    z-index: -1;
	}
}
.post_cnt_loader{
	margin: 5rem 0;
	position: relative;
	overflow: hidden;
	padding: 4px 2px;
	padding-top: 0;
	&:first-of-type{
		margin-top: 6rem;
	}
	&::before {
	    content: '';
	    display: block;
	    width: 0;
	    height: 110%;
	    position: absolute;
	    top: 0;
	    left: -10%;
	    -webkit-box-shadow: 0 0 65px 13px $gray-100;
	    box-shadow: 0 0 65px 13px $gray-100;
	    -ms-transform: skewX(-20deg);
	    -webkit-transform: skewX(-20deg);
	    transform: skewX(-20deg);
	    -webkit-animation: shine 2.5s 0s linear;
	    animation: shine 2.5s 0s linear;
	    -webkit-animation-iteration-count: infinite;
	    animation-iteration-count: infinite;
	    z-index: 1;
	}
}
.post_header_loader{
	height: 3rem;
	margin: 1rem auto;
	width: 200px;
	background-color: $cus_gray;
	-webkit-box-shadow: 0px 1px 3px $gray_shadow;
	box-shadow: 0px 1px 3px $gray_shadow;
}
.post_excerpt_loader_no_thum{
	height: 5rem;
	margin: 0 2.5rem;
	background-color: $cus_gray;
	-webkit-box-shadow: 0px 1px 3px $gray_shadow;
	box-shadow: 0px 1px 3px $gray_shadow;
}
.hidden_post_loader{
	opacity: 1;
}
/* posts loader end*/
/* .text-center{*/
/* 	text-align: center;*/
/* }*/
/* .site_wrap{*/
/* 	position: relative;*/
/* }*/
/* .top{*/
/* 	background: url(../inc/images/bg.png);*/
/* 	background-color: $cus_black;*/
/* 	position: relative;*/
/* 	-webkit-box-shadow: 0 3px 6px #777;*/
/* 	box-shadow: 0 3px 6px #777;*/
/* 	&__logo{*/
/* 		display: none;*/
/* 	}*/
/* 	.mid_logo{*/
/* 		a{*/
/* 			display: block;*/
/* 	        margin: 64px;*/
/* 	        margin-left: 0;*/
/* 	        margin-bottom: 0;*/
/* 	        width: 100px;*/
/* 	    }*/
/* 	    .logo_margin{*/
/* 			margin-bottom: 64px;*/
/* 		}*/
/* 	}*/

/* }*/
/* .site_header_cnt{*/
/* 	width: 100%;*/
/* 	&__site_header{*/
/* 		>a>img{*/
/* 			max-height: 80px;*/
/* 			width: auto;*/
/* 		}*/
/* 	}*/
/* }*/
/* .main_site_header{*/
/* 	font-weight: bold;*/
/* 	padding-top: 50px;*/
/* 	padding-bottom: 10px;*/
/* 	>a{*/
/* 		&:link{*/
/* 			color: $gray-600;*/
/* 		}*/
/* 		&:visited{*/
/* 			color: $gray-600;*/
/* 		}*/
/* 		&:hover{*/
/* 			color: $pale_green;*/
/* 		}*/
/* 	}*/
/* }*/
/* .main{ */
/* 	position: relative;*/
/* 	overflow: hidden;*/
/* 	@include trans(transform, 0.5s, $cubic);*/
/* 	will-change: transform;*/
/* 	.rocbot{*/
/* 		font-weight: bold;*/
/* 		opacity: 0;*/
/* 		@include trans(opacity, 0.3s, $cubic);*/
/* 		text-transform: uppercase;*/
/* 		text-align: center;*/
/* 		position: absolute;*/
/* 		bottom: -66px;*/
/* 		left: 0;*/
/* 		right: 0;*/
/* 		line-height: 24px;*/
/* 	}*/
/* 	.rocbot.reveal,{*/
/* 		opacity: 1;*/
/* 	}*/
/* }*/
/* *//* filter block start*//**/
/* .filter_cnt{*/
/* 	position: relative;	*/
/* 	.min{*/
/* 		min-height: 0;*/
/* 	}*/
/* 	.show{*/
/* 		max-height: 700px;*/
/* 		-webkit-animation-name: rollin;*/
/* 		animation-name: rollin;*/
/* 		-webkit-animation-duration: 0.4s;*/
/* 		animation-duration: 0.4s;*/
/* 	    -webkit-animation-fill-mode: forwards;*/
/* 	    animation-fill-mode: forwards;*/
/* 	}*/
/* 	.hidden{*/
/* 		max-height: 0px;*/
/*         -webkit-animation-name: rollout;*/
/* 		animation-name: rollout;*/
/* 		-webkit-animation-duration: 0.4s;*/
/* 		animation-duration: 0.4s;*/
/* 		-webkit-animation-fill-mode: forwards;*/
/* 		animation-fill-mode: forwards;*/
/* 	}*/
/* 	#sort{*/
/* 		white-space: nowrap;*/
/* 	}*/
/* 	.sort_show{*/
/* 		color: $pale_green;*/
/* 		vertical-align: middle;*/
/* 	}*/
/* 	&__button{*/
/* 		position: absolute;*/
/* 		z-index: 100;*/
/* 		left: -20px;*/
/* 		bottom: -1.5rem;*/
/* 		background-color: $show_filter_btn_col;*/
/* 		cursor: pointer;*/
/* 		height: 1.5rem;*/
/* 		padding: 0px 10px;*/
/* 		border: none;*/
/* 		outline: none;*/
/* 		text-transform: uppercase;*/
/* 		color: $pale_green;*/
/* 		font-weight: bold;*/
/* 		vertical-align: middle;*/
/* 		@include trans(color, 0.3s, $cubic);*/
/* 		-webkit-box-shadow: 0 3px 6px #777;*/
/* 		box-shadow: 0 3px 6px #777;*/
/* 		font-family: 'Josefin Sans', sans-serif;*/
/* 		.filter_button_icon{*/
/* 			color: $pale_green;*/
/*             position: absolute;*/
/*             right: -3.2rem;*/
/*             top: 0;*/
/* 			vertical-align: text-top;*/
/* 			font-size: 3.2rem;*/
/* 		}*/
/* 		&::focus{*/
/* 			outline: none;*/
/* 		}*/
/* 		&::active{*/
/* 			outline: none;*/
/* 		}*/
/* 		&:hover{*/
/* 			color: $white;*/
/* 		}*/
/* 	}*/
/* }*/
/* .sorting_post_cnt{*/
/* 	color: $white;*/
/* 	overflow: hidden;*/
/* 	@include trans(max-height, 0.35s, $cubic);*/
/* 	-webkit-transform-origin: 0% 0%;*/
/* 	-ms-transform-origin: 0% 0%;*/
/* 	transform-origin: 0% 0%;*/
/* 	-webkit-box-shadow: 0 3px 6px #777;*/
/* 	box-shadow: 0 3px 6px #777;*/
/* 	-webkit-transform: translateZ(0);*/
/* 	transform: translateZ(0);*/
/* 	background: url(../inc/images/bg.png);*/
/* 	background-color: $cus_black;*/
/* 	position: relative;*/
/* 	.sorting_lable, .cat_title{*/
/* 		text-transform: uppercase;*/
/* 	}*/
/* 	.sorting_lable{*/
/* 		font-size: 14px;*/
/* 	}*/
/* 	&__item{*/
/* 		-webkit-box-flex: 0;*/
/* 		-ms-flex: 0 1 300px;*/
/* 		flex: 0 1 300px;*/
/* 		padding-top: calc(20px + 4px);*/
/* 		padding-bottom: calc(20px + 4px); */
/* 		.cat_title{*/
/* 			width: 100%;*/
/* 		}*/
/* 		.category_field{*/
/* 			-webkit-box-flex: 0;*/
/* 			-ms-flex: 0 1 270px;*/
/* 			flex: 0 1 270px;*/
/* 		}*/
/* 		&:last-of-type{*/
/* 			-webkit-box-flex: 1;*/
/* 			-ms-flex: 1 1 50%;*/
/* 			flex: 1 1 50%;*/
/* 		}*/
/* 		&:first-of-type{*/
/*            padding-left: 20px;*/
/*            padding-right: 20px;*/
/* 		}*/
/* 	}*/
/* 	&:after{*/
/* 		content: '';*/
/* 		display: block;*/
/* 		border-bottom: 4px solid $pale_green;*/
/* 		border-top: 1px solid #777;*/
/* 		width: 100%;*/
/* 		position: absolute;*/
/* 		bottom: 0;*/
/* 		left: 0;*/
/* 		right: 0;*/
/* 		top: 0;*/
/* 		z-index: -1;*/
/* 	}*/
/* }*/
/* filter block end*/
.posts_cnt, .results{
	position: relative;
}
/* single post styles start*/
/* .single_title{*/
/* 	font-size: 1.5rem;*/
/* 	padding: 1em 0 1em;*/
/* }*/
/* .post-navigation{*/
/* 	.nav-links{*/
/* 		display: -webkit-box;*/
/* 		display: -ms-flexbox;*/
/* 		display: flex;*/
/* 		-webkit-box-pack: justify;*/
/* 		-ms-flex-pack: justify;*/
/* 		justify-content: space-between;*/
/* 		.icon{*/
/* 			font-size: 24px;*/
/* 			vertical-align: middle;*/
/* 		}*/
/* 		.nav-previous, .nav-next{*/
/* 			@include trans(box-shadow, 0.3s, $cubic);*/
/* 			background: url(../inc/images/bg.png);*/
/* 			background-color: #2F2F2F;*/
/* 			border: 1px solid $gray-600;*/
/* 			-webkit-box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 1px 6px rgba(0,0,0,0.23);*/
/* 			box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 1px 6px rgba(0,0,0,0.23);*/
/* 			border-radius: 2px;*/
/* 			&:hover{*/
/* 				-webkit-box-shadow: 0 3px 6px rgba(0,0,0,0.4), 0 1px 6px rgba(0,0,0,0.23);*/
/* 				box-shadow: 0 3px 6px rgba(0,0,0,0.4), 0 1px 6px rgba(0,0,0,0.23)*/
/* 			}*/
/* 			>a{*/
/* 				width: 120px;*/
/* 				height: 50px;*/
/* 				margin: 0;*/
/* 				display: -webkit-box;*/
/* 				display: -ms-flexbox;*/
/* 				display: flex;*/
/* 				-webkit-box-align: center;*/
/* 				-ms-flex-align: center;*/
/* 				align-items: center;*/
/* 				-webkit-box-pack: center;*/
/* 				-ms-flex-pack: center;*/
/* 				justify-content: center;*/
/* 			}*/
/* 		}*/
/* 		.nav-previous{*/
/* 			margin-right: 0.5rem;*/
/* 		}*/
/* 		.nav-next{*/
/* 			margin-left: 0.5rem;*/
/* 		}*/
/* 	}*/
/* }*/
/* .home{*/
/* 	.main{*/
/* 		min-height: 1374px;*/
/* 	}*/
/* }*/
/* .single_post_main, .main{*/
/* 	min-height: calc(100vh - (225px + 210px));*/
/* }*/

/* .single_post_main{*/
/* 	position: relative;*/
/* 	overflow-x: hidden;*/
/* }*/
/* quote start*/
.quote_single{
	position: relative;
	padding-top: 2.5rem;
    padding-bottom: 2.5rem;
}
/* quote end*/
/* link start*/
.single_link{
	&__link{
		font-size: 2rem;
	}
}
/* link end*/
.information{
	background-color: $pale_green;
	top: 0;
	right: 11px;
	color: $white;
	padding-bottom: 9px;
	z-index: 10;
	min-width: 256px;
	&--for_video{
		margin-right: 20px;
	}
	&__inner{
		position: relative;
		left:-11px;
		background: url(../inc/images/bg.png);
		background-color: #333333;
		width: calc(100% + 22px);
		-webkit-box-shadow: 0px 1px 3px #212529;
		box-shadow: 0px 1px 3px #212529;
		height: 24px;
		line-height: 24px;
		&::before{
		    display: block;
		    content: "";
		    width: 0;
		    height: 0;
		    border-style: solid;
		    border-width: 0 12px 9px 0;
		    border-color: transparent $gray-900 transparent;
		    position: relative;
		    top: 24px;
		    float: left;
		}
		&::after{
		    display: block;
		    content: "";
		    width: 0;
		    height: 0;
		    border-style: solid;
		    border-width: 9px 12px 0 0;
		    border-color: $gray-900 transparent transparent transparent;
		    float: right;
		    position: relative;
		    top: 24px;
		}
	}
	&_item{
		display: inline-block;
		padding-right: 0.5rem;
		&:first-of-type{
			padding-left: 0.5rem;
		}
	}
	span{
		display: inline-block;
		.icon{
			vertical-align: middle;
		}
	}
}
.image_loader_cnt{
	position: absolute;
	right: 0%;
	top: 0%;
	width: 50px;
	height: 50px;
	z-index: 1;
	font-size: 10px;
	text-align: center;
	padding: 5px;
	&--left{
		right: unset;
		left: 0;
	}
	&--center{
		right: 50%;
		top: 50%;
		-webkit-transform: translate3d(50%,-50%,0);
	    transform: translate3d(50%,-50%,0);
	}
	/*video page loader*/
	&--iframe{
		right: 50%;
	    top: 50%;
		width: 100px;
	    height: 100px;
	    -webkit-transform: translate3d(50%,-50%,0);
	    transform: translate3d(50%,-50%,0);
	    .simple-spinner{
			&:before{
				width: 56px;
		        height: 56px;
		        margin-top: -28px;
		        margin-left: -28px;
			}
		}
	}
}

/* single post styles end*/

/* index post animation start*/
.search_animate.revealed, .home .post_item.added, .search .post_item.added, .archive .post_item.added, .single_page_to_animate.revealed, .single_post.revealed{
	-webkit-transition: opacity 0.4s ease-out, -webkit-transform 0.4s ease-out;
	transition: opacity 0.4s ease-out, -webkit-transform 0.4s ease-out;
	-o-transition: transform 0.4s ease-out, opacity 0.4s ease-out;
	transition: transform 0.4s ease-out, opacity 0.4s ease-out;
	transition: transform 0.4s ease-out, opacity 0.4s ease-out, -webkit-transform 0.4s ease-out;
	opacity: 1;
	-webkit-transform: translate3d(0, 0 ,0);
	transform: translate3d(0, 0 ,0);
}
.home .post_item.added, .search .post_item.added{
	-webkit-transition: opacity 0.3s ease-out, -webkit-transform 0.3s ease-out;
	transition: opacity 0.3s ease-out, -webkit-transform 0.3s ease-out;
	-o-transition: transform 0.3s ease-out, opacity 0.3s ease-out;
	transition: transform 0.3s ease-out, opacity 0.3s ease-out;
	transition: transform 0.3s ease-out, opacity 0.3s ease-out, -webkit-transform 0.3s ease-out;
}
.single_page_to_animate, .single_post, .search_animate{
	opacity: 0;
	-webkit-transform: translate3d(160px, 0, 0);
	transform: translate3d(160px, 0, 0);
}
.home .post_item, .search .post_item, .archive .post_item{
	opacity: 0;
	-webkit-transform: translate3d(100px, 0, 0);
	transform: translate3d(100px, 0, 0);
}
/* index post animation end*/

/* post loader start*/
.loading{
    position: absolute;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    height: 40px;
    width: 50px;
    z-index: 1;
    &--bottom{
    	bottom: -90px;
    }
}
.simple-spinner:before {
    content: "";
    border-radius: 50%;
    border-top: 2px solid #999;
    border-right: 2px solid transparent;
    animation: spinner .6s linear infinite;
    -webkit-animation: spinner .6s linear infinite;
}
.simple-spinner:before {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 16px;
    height: 16px;
    margin-top: -10px;
    margin-left: -10px;
}

/* post loader end*/

/* index styles start*/
.home{
	.index_post{
		&:first-of-type{
			margin-top: 3rem;
		}
	}
}
.index_post{
	&:first-of-type{
		margin-top: 6rem;
	}
	&:last-of-type{
		margin-bottom: calc(3rem + 15px);
	}
	margin-top: 2.5rem;
	margin-bottom: 5rem;
	&__heading{
		text-align: center;
	    font-weight: 500;
	    font-size: 1.3rem;
	    &--w_thum{
			z-index: 10;
			margin: 0;
			padding: 0.4rem 0.5rem 0.1rem 0.5rem;
			background-color: rgba($cus_black, 0.9);
			text-align: left;
		}
	}
	&__info{
		padding: 0 1rem;
		height: 30px;
		.com_inf{
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			-webkit-box-align: center;
			-ms-flex-align: center;
			align-items: center;
			font-size: 24px;
			&--num{
				vertical-align: baseline;
			}
		}
		&--w_thum{
			padding: 0;	
		}
		&--video{
			padding: 0;
		}
	}
	&__excerpt{
		background-color: $white;
		padding: 1rem;
		margin: 0 2rem;
		&--w_thum{
			margin-top: -2.5rem;
		}
	}
}
.archive_page .index_post{
	&:first-of-type{
		margin-top: 2.5rem;
	}
}
.search{
	.index_post__heading.streams{
	    text-align: left;
	}
}
.index_post__excerpt, .post_excerpt_loader, .single_page_p{
	position: relative;
}
.index_post__excerpt{
	p{
		text-align: justify;
	}
}

/*link post  start*/
.index_link{
	text-align: center;
	&__icon{
		border-radius: 50%;
		width: 90px;
		height: 90px;
		.icon{
			width: 90px;
		    height: 90px;
		}
	}
}
/*link post  end*/

/*quotes post*/
.quotes_post{
	span{
		-webkit-transition: color 0.2s cubic-bezier(0.445, 0.050, 0.550, 0.950);
		-o-transition: color 0.2s cubic-bezier(0.445, 0.050, 0.550, 0.950);
		transition: color 0.2s cubic-bezier(0.445, 0.050, 0.550, 0.950);
	}
	&:hover .quotes_post{
		color: $pale_green;
	}

	&--quote_left{
		position: absolute;
		left: 0;
		top: 0;
		font-size: 2.5rem;
		height: 40px;
		width: 40px;
	}
	&--quote_right{
		position: absolute;
		right: 0;
		bottom: 0;
		font-size: 2.5rem;
		height: 40px;
		width: 40px;
	}
	&__content{
		margin: 0 3rem;
		a>p{
			text-align: justify;
		}
	}
	&__inner{
		position: relative;
		padding-top: 2.5rem;
		padding-bottom: 2.5rem;
	}
}
.quotes_post{
	a{
		&:link{
			color: $gray-600;
			text-decoration: none;
			font-style: italic;
		}
		&:visited{
			color: $gray-600;
		}
		&:hover{
			color: $pale_green;
		}
	}
}
/* quote end*/
.box_shadow{
	&::before, &::after{
		z-index: -1;
		position: absolute;
		content: "";
		bottom: 15px;
		left: 10px;
		width: 50%;
		top: 65%;
		max-width:300px;
		background: #777;
		-webkit-box-shadow: 0 15px 10px #777;
		box-shadow: 0 15px 10px #777;
		-webkit-transform: rotate(-3deg);
		-ms-transform: rotate(-3deg);
		transform: rotate(-3deg);
	}
	&:after{
		-webkit-transform: rotate(3deg);
		-ms-transform: rotate(3deg);
		transform: rotate(3deg);
		right: 10px;
		left: auto;
	}
	&--logo{
		&::before, &::after{
			width: 44%;
			top: 45%;
		}
	}
	&--sin_pos{
		&::before{
			-webkit-box-shadow: 4px 15px 10px #777;
			box-shadow: 4px 15px 10px #777;
			left: 4%;
		}
		&::after{
			-webkit-box-shadow: -4px 15px 10px #777;
			box-shadow: -4px 15px 10px #777;
			right: 4%;
		}
		&::before, &::after{
			top: 85%;
		}
	}
}
.reviews{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-flow: row nowrap;
	flex-flow: row nowrap;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}
/* ratings start*/
.ratings_cnt{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-flow: row nowrap;
	flex-flow: row nowrap;
	img{
		display: inline-block;
		width: 12px;
	}
	.post-ratings{
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		-ms-flex-flow: row nowrap;
		flex-flow: row nowrap;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		padding-right: 20px;
		position: relative;
		font-size: 12px; 
	}
	.post-ratings-text{
		position: absolute;
		right: 0;
		bottom: 0;
		width: 20px;
	}
	.rating_info{
		display: none;
	}
}
/* ratings end*/
/* index styles end*/

/*button start*/
.btn{
 	font-family: 'Josefin Sans', sans-serif;
 	font-weight: bold;
 	@include trans();
    background-color: transparent; 
    color: $pale_green;
    cursor: pointer;
    font-size: 2rem;
 	padding: 12px 1rem;
 	text-transform: uppercase;
 	-webkit-box-shadow: inset 0 0 0 4px $show_filter_btn_col;
 	box-shadow: inset 0 0 0 4px $show_filter_btn_col;
 	line-height: 120%;
 	position: relative;
 	border: 0;
 	overflow: hidden;
 	vertical-align: middle;
 	display: inline-block;
 	border-radius: 2px;
 	display: inline-block;
 	line-height: 24px;
 	&--search{
	 	font-size: 2.4rem;
	 	height: 62px;
	}
	&::before,
	&::after{
		-webkit-box-sizing: inherit;
		box-sizing: inherit;
		content: '';
		position: absolute;
		width: 100%;
		height: 100%;
		border-radius: 2px;
	}
 	&:before, &:after{
		-webkit-transform: scale3d(0, 1, 1);
		transform: scale3d(0, 1, 1);
		top: 0;
		left: -1px;
		bottom: 0;
		height: 100%;
		width: calc(100% + 2px);
		-webkit-transform-origin: center;
		-ms-transform-origin: center;
		transform-origin: center; /* Ensure scaling is done from the center (expands outwards)*/
	}
	  /* scale3d(<scale-horizontal>, <scale-vertical>, <scale-depth>);*/
	&:before{
		border-top: 4px solid $pale_green;
		border-bottom: 4px solid $pale_green;
		-webkit-transform: scale3d(0,1,1);
		transform: scale3d(0,1,1); /* Shrink only width*/
	}

	&:after{
		border-left: 5px solid $pale_green;
		border-right: 5px solid $pale_green;
		-webkit-transform: scale3d(1,0,1);
		transform: scale3d(1,0,1); /* Shrink only height*/
	}

	&:hover{
		color: $cus_pink;
	}

	  /* Set up base styles, we're going to scale instead of animating width/height*/
	  
	&:hover:before,
	&:hover:after {
		-webkit-transform: scale3d(1,1,1);
		transform: scale3d(1,1,1); /* Show full-size*/
		@include trans(transform, 0.3s, $cubic);
	}
	&:focus{
		outline: none;
	}
	&--back_to_live_strems{
		font-size: 1rem;
		text-decoration: none;
		&:link{
			color: $pale_green;
		}
		&:visited{
			color: $pale_green;
		}
		&:hover{
			color: $cus_pink;
		}
		>span{
			display: inline-block;
			line-height: 20px;
			height: 20px;
			.back{
				font-size: 28px;
				svg{
					vertical-align: text-bottom;
				}
			}
		}
		&::after{
			left: 0px;
			bottom: 0;
			height: 100%;
			width: 100%;
		}
	}
 }
 
/* button end*/
/* no results found start*/
.no_results_found{
	padding-top: 6rem;
	padding-bottom: 3rem;
}
/* no results found end*/
/* responsive video cnt start*/

.video_content{
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    background-color: lighten($cus_black, 12);
    margin: 1em 0;
}
.video_content iframe, .video_content object, .video_content embed, .video_content video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* responsive video cnt end*/

/* index thumnails start*/
.thumbnail_cnt, .video_thumbnail_cnt{
	&__link{
		display: block;
		position: relative;
		height: 0;
		padding-bottom: 37.5%;		
		overflow: hidden;
		background-color: lighten($cus_black, 12);
		&:link{
			color: rgba($white, .65);
		}
		&:visited{
			color: $white;
		}
		&:hover{
			color: $pale_green;
		}
	}
	.heading_w_thum{
		-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.16), 0 1px 3px rgba(0,0,0,0.23);
		box-shadow: 0 1px 3px rgba(0,0,0,0.16), 0 1px 3px rgba(0,0,0,0.23);
		&:link{
			color: $cus_pink;
		}
		&:visited{
			color: $cus_pink;
		}
		&:hover{
			color: $pale_green;
		}
	}
	&::before{
	    content: '';
	    display: block;
	    width: 0;
	    height: 80%;
	    position: absolute;
	    top: 5%;
	    left: -15%;
	    background: $gray-100;
	    -webkit-box-shadow: 0 0 55px 10px $gray-100;
	    box-shadow: 0 0 55px 5px $gray-100;
	    -ms-transform: skewX(-20deg);
	    -webkit-transform: skewX(-20deg);
	    transform: skewX(-20deg);
	    -webkit-animation: shine linear;
	    animation: shine linear;
	    -webkit-animation-iteration-count: 1;
	    animation-iteration-count: 1;
	    -webkit-animation-delay: 5s;
	    animation-delay: 5s;
	    -webkit-animation-duration: 0.7s;
	    animation-duration: 0.7s;
	    z-index: 1;
	}
}
.video_play_btn{
	position: absolute;
	left:50%;
	top: 50%;
	z-index: 10;
	padding: 4px 6px;
	background-color: rgba($cus_black, 0.9);
	border-radius: 2px;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	font-size: 1rem;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	span{
		padding-top: 0.2em;
	}
	i{
		margin-left: 4px;
		height: 1em;
		width: 1em; 
		svg{
			width: inherit;
			height: inherit;
		}
	}
	&--video_page{
		top: auto;
		left: auto;
		right: 0;
	    bottom: 0%;
		-webkit-transform: none;
		-ms-transform: none;
		transform: none;
		margin: 0.5rem;
	}
}
.video_excerpt{
	background-color: $white;
}
.thumbnail, .video_thumbnail{
	position: absolute;
}
/* index thumnails end*/

/* contact form styles start*/
.form_group{
	margin-bottom: 1.5rem;
}
#one_column_cf{
	width: 100%;
	max-width: 700px;
}
.form_field{
	font-family: 'Josefin Sans', sans-serif;
	font-weight: 600;
	width: 100%;
	max-width: 700px;
	color: $gray-600;
	border: 2px solid $gray-500;
	padding: 0.8rem 1rem;
	border-radius: 2px;
	-webkit-transition: all 0.2s cubic-bezier(0.445, 0.050, 0.550, 0.950);
	-o-transition: all 0.2s cubic-bezier(0.445, 0.050, 0.550, 0.950);
	transition: all 0.2s cubic-bezier(0.445, 0.050, 0.550, 0.950);
	&:focus{
		outline: none;
	}
}
#oc_name, #oc_email, #oc_message{
	&:focus{
		border: 2px solid $pale_green;
	}
}

.has_error{
	border: 2px solid lighten($cus_pink, 10);
}
.form_control_msg, .form_control_msg{
	opacity: 0;
	visibility: hidden;
	-webkit-transition: all 0.2s cubic-bezier(0.445, 0.050, 0.550, 0.950);
	-o-transition: all 0.2s cubic-bezier(0.445, 0.050, 0.550, 0.950);
	transition: all 0.2s cubic-bezier(0.445, 0.050, 0.550, 0.950);
	display: inline-block;
	-webkit-transform: scaleY(0);
	-ms-transform: scaleY(0);
	transform: scaleY(0);
	-webkit-transform-origin: center bottom;
	-ms-transform-origin: center bottom;
	transform-origin: center bottom;
}
.text_danger, .js_form_submission, .js_form_success, .js_form_error{
	opacity: 1;
	visibility: visible;
	-webkit-transform: scaleY(1);
	-ms-transform: scaleY(1);
	transform: scaleY(1);
}
#one_column_cf{
	.btn[type="submit"]{
		padding-top: 1.3rem;
		line-height: inherit;
	}
}
/* contact form styles end*/

/* close button start*/
#close_menu, #close_search, .tingle-modal__closeIcon{
	font-size: 6rem;
    cursor: pointer;
    line-height: 1;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	.icon{
		-webkit-transition: color 0.3s cubic-bezier(0.445, 0.050, 0.550, 0.950), -webkit-transform 0.1s cubic-bezier(0.445, 0.050, 0.550, 0.950);
		transition: color 0.3s cubic-bezier(0.445, 0.050, 0.550, 0.950), -webkit-transform 0.1s cubic-bezier(0.445, 0.050, 0.550, 0.950);
		-o-transition: color 0.3s cubic-bezier(0.445, 0.050, 0.550, 0.950), transform 0.1s cubic-bezier(0.445, 0.050, 0.550, 0.950);
		transition: color 0.3s cubic-bezier(0.445, 0.050, 0.550, 0.950), transform 0.1s cubic-bezier(0.445, 0.050, 0.550, 0.950);
		transition: color 0.3s cubic-bezier(0.445, 0.050, 0.550, 0.950), transform 0.1s cubic-bezier(0.445, 0.050, 0.550, 0.950), -webkit-transform 0.1s cubic-bezier(0.445, 0.050, 0.550, 0.950);
		&:hover{
			color: $cus_pink;
		}
	}
}
.active{
	-webkit-transform: scale(1.1);
	-ms-transform: scale(1.1);
	transform: scale(1.1);
}
/* close button end*/

/* search page start*/
.search_active, .m_menu_active{
	position: fixed;
    right: 0;
    left: 0;
    overflow: hidden;
}
.search_active .tingle-content-wrapper{
    -webkit-filter: blur(8px);
	filter: blur(8px);
}
.search_block{
	@include trans(all, 0.5s, $cubic);
	background-color: rgba($black, .8);
	opacity: 1;
	visibility: visible;
	pointer-events: auto;
	overflow-x: hidden;
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
	&__close_search_cnt{
		position: absolute;
		top: 10px;
		right: 20px;
		width: 96px;
		height: 96px;
	}
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: 900;
}
.hidden_search{
	opacity: 0;
	visibility: hidden;
	pointer-events: none;
}
.search_results_page{
	&__form{
		text-align: center;
		>form{
			[type="text"]{
				margin: 0.1rem 0;
			}
			[type="submit"]{
				margin: 0.1rem 0;
			}
		}
	}
}
.search_field{
	color: $gray-600;
	border: 4px solid $show_filter_btn_col;
	padding: 0.5rem 1rem;
	border-radius: 2px;
	font-family: 'Josefin Sans', sans-serif;
	font-weight: 600;
	-webkit-transition: all 0.2s cubic-bezier(0.445, 0.050, 0.550, 0.950);
	-o-transition: all 0.2s cubic-bezier(0.445, 0.050, 0.550, 0.950);
	transition: all 0.2s cubic-bezier(0.445, 0.050, 0.550, 0.950);
	vertical-align: middle;
	line-height: 120%;
	font-size: 2rem;
	max-width: 100%;
	&:focus{
		outline: none;
		border: 4px solid $pale_green;
	}
}
.search_header{
	font-weight: 500;
	text-align: center;
}
.search, .archive{
	.index_post{
		&:first-of-type{
			margin-top: 6rem;
		}
		&:last-of-type{
			margin-bottom: calc(3rem + 15px);
		}
		margin-top: 2.5rem;
		margin-bottom: 5rem;
		&__heading{
			text-align: center;
		    font-weight: 500;
		    font-size: 1.3rem;
		    &--w_thum{
				z-index: 10;
				margin: 0;
				padding: 0.4rem 0.5rem 0.1rem 0.5rem;
				background-color: rgba($cus_black, 0.9);
				text-align: left;
				color: inherit;
			}
		}
	}
}
/* search page end*/

/* comments start*/

.comments-area{
	img{
		width: auto;
		height: auto
	}
	padding: 2rem 0.5rem;
	.comments-pagination{
		h2{
			font-size: 1.25rem;
			font-weight: bold;
			text-align: center;
		}
	}
}
/* comments pag start*/
.comments-area .nav-links{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
    margin-top: 15px;
    margin-bottom: 15px;
    a{
    	color: lighten($cus_black, 20);
		&:hover {
		    color: $cus_pink;
		}
    }
}
a.page-numbers, .page-numbers.current, .page-numbers.dots{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	width: 48px;
	height: 48px;
	margin: 1px;
	border-radius: 2px;
	border: 4px solid $show_filter_btn_col;
	background-color: $gray-200;
	@include trans();
}
/* comments pag end*/
.comment-list{
	margin-left: 115px;
}
.comments-title {
    font-size: 1.25rem;
    padding-bottom: 2rem;
}
.children .comment-author .avatar {
    height: 50px;
    left: -60px;
    width: 50px;
}
.comment-body{
	margin-bottom: 1.5rem;
}
.comment-author{
	position: relative;
	padding-bottom: 0.25rem;
	.fn{
		font-weight: bold;
		font-style: normal;
		font-size: 18px;
	}
	.avatar {
	    left: -115px;
	    position: absolute;
	}
	.says {
	    display: none;
	}
}
.comment-meta{
	font-size: 12px;
	padding-bottom: 0.25rem;
	letter-spacing: 2px;
	font-weight: 800;
}
.comments_icon{
	.icon{
		vertical-align: middle;
		font-size: 24px;
	}
}
/* commnets reply form start*/
.comment-respond{
	.comment-reply-title{
		font-size: 1.25rem; 
	}
	input[type=submit]{
		font-family: 'Josefin Sans', sans-serif;
		font-weight: 600;
		-webkit-transition: all 0.3s cubic-bezier(0.445, 0.050, 0.550, 0.950);
		-o-transition: all 0.3s cubic-bezier(0.445, 0.050, 0.550, 0.950);
		transition: all 0.3s cubic-bezier(0.445, 0.050, 0.550, 0.950);
		border: 0;
	    background-color: transparent; 
	    color: $pale_green;
	    cursor: pointer;
	    font-size: 1.5rem;
		padding: 0.4rem 1rem;
		text-transform: uppercase;
		border-radius: 2px;
		border: 4px solid $show_filter_btn_col;
		position: relative;
		overflow: hidden;
		vertical-align: middle;
		z-index: 10;
		line-height: 24px;
		padding-top: 0.7rem;
		&:focus{
			outline: 0;
		}
		&:active,
		&:hover{
			color: $white;
			background-color: $pale_green;
			border-color: $pale_green;
		}

	}
	input[type=text], textarea{
		color: $gray-600;
		border: 2px solid $gray-500;
		padding: 0.8rem 1rem;
		border-radius: 2px;
		-webkit-transition: all 0.2s cubic-bezier(0.445, 0.050, 0.550, 0.950);
		-o-transition: all 0.2s cubic-bezier(0.445, 0.050, 0.550, 0.950);
		transition: all 0.2s cubic-bezier(0.445, 0.050, 0.550, 0.950);
		&:focus{
			outline: none;
			border: 2px solid $pale_green;
		}
	}
	textarea{
		max-width: 100%;
		width: 100%;
	}
	label {
	    display: block;
	    padding-bottom: 0.25rem;
	}
}

/* commnets reply form end*/

/* comments end */

/* single page/post content styling start*/
.single_page:not(.results){
	margin-top: 6rem;
	margin-bottom: 3rem;
}
.single_page{
	&__inner{
		background-color: $white;
		padding: 1rem;
	}
}
.main_post p:after {
    content: "";
    clear: both;
    display: table;
}
.main_post{
	ul{
    	list-style: square;
    	list-style-position: inside;
    	li{
    		padding: 5px 0;
    	}
    }
}
.wp-caption {
    background-color: $gray-900;
    padding: 1em 1em 0 1em;
    margin-bottom: 1em;
	.wp-caption-text{
		text-align: center;
		padding: 0;
		margin: 0;
	}
}
.wp-caption.alignnone, .wp-caption.aligncenter{
	max-width: 100%;
}
.wp-caption.alignleft {
    float: left;
    width: auto !important;
    margin-right: 10px;
	img{
		width: auto;
	}
}
.wp-caption.alignright {
    float: right;
    width: auto !important;
    margin-left: 10px;
	img{
		width: auto;
	}
}
p{
	.alignright{
		float: right;
		width: auto;
		margin: 0 0 10px 10px;
	}
	.alignleft{
		float: left;
		width: auto;
		margin: 0 10px 10px 0;
	}
}
blockquote{
	p{
		padding: 0;
	}
	font-style: italic;
	border-left: solid 2px $pale_green;
	margin-left: 1.5rem;
	margin-bottom: 1em;
	padding: 0 0 0 0.5em;
}
p .alignright .aligncenter,
div.aligncenter, p .aligncenter{
    display: block;
    margin: 1em auto 1em auto;
    width: auto;
}
.page_404{
	min-height: calc(100vh - (225px + 210px));
}
.single_post{
	.quote_single{
		padding: 2.5rem 3rem;
	}
}
.single_page_p{
	background-color: $white;
	position: relative;
	padding: 1rem;
	&--no_picture{
		margin: 0;
	}
}
.single_picture{
	-webkit-box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	height: 0;
	padding-bottom: 37.5%; 
	background-color: lighten($cus_black, 12);
	overflow: hidden;
	>img{
		position: absolute;
		width: 100%;
	}
}
/* singel post pagination start*/
.nav-previous{
	>a{
		display: block;
		margin-right: 0.5rem;
	}
}
.nav-next{
	>a{
		display: block;
		margin-left: 0.5rem;
	}
}
/* singel post pagination end*/

/* video page start*/
.video_page, .stream_page{
	margin-top: calc(6rem + 15px);
	margin-bottom: 6rem;
	&__item{
		a{
			position: relative;
			height: 0;
			padding-bottom: 37.5%;
		    overflow: hidden;
		    background-color: lighten($cus_black, 12); 
			display: block;
			&:visited{
				color: $cus_pink;
			}
			&:hover{
				color: $pale_green;
			}
		}
	}
	.video_page_item_title, .stream_page_item_title{
		z-index: 1;
		width: 100%;
		padding-right: 10px;
	}
}
.video_page{
	.video_page_item_title{
		border-radius: 2px;
	    margin: 0.5rem;
	    padding: 1px 4px;
	    width: auto;
	    right: 0;
	    display: inline-block;
		background-color: rgba($cus_black, 0.9);
		>span{
			vertical-align: sub;
		}
	}
}
.video_id{
	>figure>.video_page_item_title{
		font-size: 19px;
	}
}
.video_page>.video_page__item, .stream_page>.stream_page__item{
	padding-left: 0px;
    padding-right: 0px;
}
/* modal styles start*/
.modal_heading{
	min-height: 70px;
}
/* modal styles end*/

/* video page end*/

/* stream page start*/
.live_streams .main{
	padding-right: 0px;
	padding-left: 0px;
}
.stream_page__item,.grid-sizer {
	width: 100%;
}
.stream_page{
	padding: 0;
	margin-top: 0;
	&__item{
		float: left;
		-webkit-box-shadow: inset 0px 0px 0px 12px $cus_pink;
		box-shadow: inset 0px 0px 0px 12px $cus_pink;
        >a{
			padding-bottom: 56.25%;
			-webkit-transition: color 0.3s cubic-bezier(0.445, 0.050, 0.550, 0.950);
			-o-transition: color 0.3s cubic-bezier(0.445, 0.050, 0.550, 0.950);
			transition: color 0.3s cubic-bezier(0.445, 0.050, 0.550, 0.950);
			&:active{
				-webkit-transform: scale(0.98);
				-ms-transform: scale(0.98);
				transform: scale(0.98);
				border-radius: 2px;
			}
		}
		.live{
			margin: 0.5rem;
			position: absolute;
			left: 0;
			bottom: 0;
			&__inner{
				color: $white;
				background-color: $pale_green;
				padding: 1px 4px;
				border-bottom-left-radius: 2px;
			    border-top-left-radius: 2px;
				.live_tag, .live_language{
					vertical-align: sub;
				}
				&:nth-of-type(2){
					background-color: $cus_pink;
					border-top-left-radius: 0px;
					border-bottom-left-radius: 0px;
					border-bottom-right-radius: 2px;
			        border-top-right-radius: 2px;
				}
			}
		}
		.name, .viewers{
			margin: 0.5rem;
			position: absolute;
			right: 0;
			bottom: 0;
			padding: 1px 4px;
			border-radius: 2px;
			background-color: rgba($cus_black, 0.9);
			&__inner{
				vertical-align: sub;
				color: $white;
			}
		}
		.viewers{
			right: 50%;
			bottom: 0;
			-webkit-transform: translateX(50%);
			-ms-transform: translateX(50%);
			transform: translateX(50%);
			padding-top: 3px;
			&__inner{
				display: -webkit-inline-box;
				display: -ms-inline-flexbox;
				display: inline-flex;
				.viewer_count_icon{
					display: -webkit-inline-box;
					display: -ms-inline-flexbox;
					display: inline-flex;
					>svg{
						vertical-align: middle;
					}
				}
				.number{
					display: -webkit-inline-box;
					display: -ms-inline-flexbox;
					display: inline-flex;
				}
			}
		}
	}
	.stream_page_item_title{
		border-radius: 2px;
		margin: 0.5rem;
		padding: 1px 4px;
		width: auto;
		right: 0;
		display: inline-block;
		background-color: rgba($cus_black, 0.9);
		font-size: 1.2em;
		span{
			vertical-align: sub;
		}
	}
	&:after{
		content: '';
		display: block;
		clear: both;
	}
}
.stream_page{
	.name, .viewers, .live{
		font-size: 0.8em;
	}
    .stream_page_item_title{
        font-size: 0.9em;
	}
}
.controles_cnt{
	&__title{
		white-space: nowrap;
		-webkit-box-flex: 2;
		-ms-flex: 2 0 auto;
		flex: 2 0 auto;
		text-align: center;
	}
	&__buttons{
		display: -webkit-box;
		display: -ms-flexbox;
		display: -webkit-box;
		display: flex;
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		-ms-flex-flow: row nowrap;
		flex-flow: row nowrap;
		-webkit-box-flex: 1;
		-ms-flex: 1 0 300px;
		flex: 1 0 300px;
		.button{
			-webkit-box-flex: 1;
			-ms-flex: 1 0 50px;
			flex: 1 0 50px;
			border: none;
			font-size: 0.7rem;
			font-family: 'Josefin Sans', sans-serif;
			padding: 0.4rem 0.3rem;
			padding-top: 0.6rem;
			color: $gray-600;
			background-image: -webkit-gradient( linear, left top, left bottom, from(hsla(0, 0%, 0%, 0)), to(hsla(0, 0%, 0%, 0.2)) );
			background-image: -webkit-linear-gradient( top, hsla(0, 0%, 0%, 0), hsla(0, 0%, 0%, 0.2) );
			background-image: -o-linear-gradient( top, hsla(0, 0%, 0%, 0), hsla(0, 0%, 0%, 0.2) );
			background-image: linear-gradient( to bottom, hsla(0, 0%, 0%, 0), hsla(0, 0%, 0%, 0.2) );
			@include trans();
			&:first-of-type{
				border-top-left-radius: 2px;
				border-bottom-left-radius: 2px;
			}
			&:last-of-type{
				border-top-right-radius: 2px;
				border-bottom-right-radius: 2px;
			}
			&:active{
				-webkit-box-shadow: inset 1px 1px 15px -1px rgba(0,0,0,0.8);
				box-shadow: inset 1px 1px 15px -1px rgba(0,0,0,0.8);
			}
			&:hover{
				cursor: pointer;
			}
			&:focus{
				outline: 0;
			}
		}
		[data-sort-value]{
			background-color: lighten($pale_green, 8);
			color: $cus_black;
		}
		.is_checked{
			color: $white;
			background-color: $cus_pink;
		}
	}
}
.stream_logo{
	text-decoration: none;
}
.icon-tv{
	text-decoration: none;
	>svg{
		vertical-align: text-bottom; 
	}
}
.single-streams{
	.site_wrap{
		background-color: #262626;
	}
	.single_streams_page_heading{
		color: $gray-400;
		.icon-tv{
			font-size: 2rem;
			color: $pale_green;
			>svg{
				vertical-align: sub; 
			}
		}
	}
	.twitch_player_cnt{
		padding: 1rem 4rem;
		background-color: #0d0d0d;
		position: relative;
		z-index: 1;
		margin-bottom: 2rem;
		.video_content{
			margin: 0;
			background-color: $black;
		}
		&::after{
		    content: "";
		    position: absolute;
		    z-index: -1; /* hide shadow behind image */
		    -webkit-box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
		    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);                
		    width: 80%; 
		    left: 10%; /* one half of the remaining 30% */
		    height: 100px;
		    bottom: 0;
		}
		@include media-breakpoint-down(lg) {
			padding: 0.5rem 2rem;	    
		}
		@include media-breakpoint-down(md) {
			padding: 0;
		}
	}
	.stream_description{
	    &__lable{
	    	display: inline-block;
	    	color: $cus_pink;
	    }
	    color: $gray-400;
	}
}
/* stream page end*/

/* single page/post content styling end*/

.padding_t{
	padding-top: 60px;
}
.go_top{
	position: fixed;
	bottom: 10px;
	right: 26px;
	height: 3rem;
	width: 3rem;
	pointer-events: none;
}
.go_top__icon{
	display: inline-block;
	cursor: pointer;
	color: $pale_green;
	opacity: 0.8;
	pointer-events: auto;
	visibility: visible;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	@include trans(all, 0.3s, linear);
	height: inherit;
	width: inherit;
	-webkit-tap-highlight-color: transparent;
	.icon{
		font-size: 3rem;
	}
	&:hover{
		opacity: 1;
	}
}
.hidden_g{
	opacity: 0;
	pointer-events: none;
	visibility: hidden;
	-webkit-transform: translate3d(0, 60px, 0);
	transform: translate3d(0, 60px, 0);
}

/* pagination links styles start*/
.pagination_cnt{
	&__inner{
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		-ms-flex-flow: row wrap;
		flex-flow: row wrap;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
		margin-top: $paginate_val;
		margin-bottom: $paginate_val;
		>a{
			color: lighten($cus_black, 20);
			&:hover{
               color: $cus_pink;
			}
		}
	}
}

a.page-numbers:hover{
	-webkit-transform: translate3d(0, -4px,0);
	transform: translate3d(0, -4px, 0);
	border-color: $cus_pink;
}
.page-numbers.current{
	border-color: $cus_pink;
	color: $cus_pink;
	background-color: $gray-100; 
}

/* pagination links styles end */

/* widget styles start*/
.aside_panel{
	padding-top: 5rem;
}
.side_panel{
	padding: 1rem 2rem; 
}
.best_cas{
	&__list{
		list-style-position: inside;
		padding-top: 20px; 
		>li{
			padding-left: 54px;
			position: relative;
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			-webkit-box-pack: justify;
			-ms-flex-pack: justify;
			justify-content: space-between;
			background-clip: content-box;
		    min-height: calc(46px + 12px);
		    margin: 24px 0;
		    padding-bottom: 6px;
		    position: relative;
			a{
				display: block;
				text-decoration: none;
				&:link{
					color: $cus_pink;
				}
				&:visited{
					color: $cus_pink;
				}
				&:hover{
					color: $pale_green;
				}
			}
			&:after{
				content:'';
				display: block;
				width: 100%;
				height: 0;
				border-bottom: 1px solid $gray-200;
				position: absolute;
				right: 0;
				bottom: 0;
			}
			&:first-of-type{
				margin-top: 12px;
			}
		}
		.ratings_cnt.position-absolute{
            position: absolute;
            left: 0;
            bottom: 5px;
            .post-ratings{
            	padding-right: 0;
            	width: 318px;
            	img{
            		width: 14px;
            	}
            }
			.rating_info{
			 	display: none;
			}
		}
		.ratings_cnt.position-relative{
            .post-ratings{
            	padding-right: 0;
            	width: 318px;
            	img{
            		width: 14px;
            	}
            }
			.rating_info{
			 	display: none;
			}
		}
	}
}
.widget_cas_img_cnt_outer{
	position: relative;
	padding-bottom: 20px;
}
.widget_cas_img_cnt{
	display: block;
    position: relative;
    height: 0;
    padding-bottom: 55.83333333333333%;
    overflow: hidden;
    background-color: #4e4e4e;
    width: 140px;
	&__img{
		max-width: initial;
		width: 140px;
		position: absolute;
	}
}
.widget_title{
	padding-left: 10px;
	padding-right: 10px;
	-ms-flex-item-align: center;
	-ms-grid-row-align: center;
	align-self: center;
}
.svg_widget_number{
	width: 46px;
	height: 46px;
	display: inline-block;
	vertical-align: middle;
	position: absolute;
	left: 0;
	top: 0;
	>svg{
		width: inherit;
		height: inherit;
	}
} 
.pb_widget_link{
	padding-bottom: 6px;
}
/* widget styles end*/
.footer{
	margin-top: 15px;
	padding-top: 20px;
	overflow: hidden;
	border-top: 4px solid $pale_green;
	background: url(../inc/images/bg.png);
	background-color: $cus_black;
	color: $gray-700;
	.footer_copy_icon{
		.icon{
			vertical-align: bottom;
			font-size: 24px;
		}
	}
	.footer_content{
		&__footer_menu{
			margin: 1rem 0;
			.menu{
				text-align: center;
				>li{
					line-height: 100%;
				}
			}
		}
		&__footer_widget{
			margin: 1rem 0;
		}
		&__social{
			a{
				text-decoration: none;
				width: 3rem;
				height: 3rem;
				display: inline-block;
				padding: 0.5rem;
				i{
					display: inherit;
					.icon{
						font-size: 2rem;
					}
				}
			}
		}
		&__footer_widget{
			.search_field{
				font-size: 1rem;
			}
			.btn--search{
				font-size: 1.2rem;
                height: 43px;
			}
		}
	}
	.about{
		font-size: 0.8rem;
		color: $gray-500;
	}
	&__bottom-copy{
		font-size: 0.8rem;
		.footer_copy_icon{
			vertical-align: sub;
		}
	}
}
.home .footer, .search .footer{
	padding-right: 20px;
	padding-left: 20px;
}

/* k-frame animations start*/
@-webkit-keyframes rollin{
	0% {
	    -webkit-transform: scaleY(0);
	    transform: scaleY(0);
	}
	100%{
		 -webkit-transform: scaleY(1);
		 transform: scaleY(1);
	}
}
@keyframes rollin{
	0% {
	    -webkit-transform: scaleY(0);
	    transform: scaleY(0);
	}
	100%{
		 -webkit-transform: scaleY(1);
		 transform: scaleY(1);
	}
}
@-webkit-keyframes rollout{
	0% {
	    -webkit-transform: scaleY(1);
	    transform: scaleY(1);
	}
	100%{
		 -webkit-transform: scaleY(0);
		 transform: scaleY(0);
	}
}
@keyframes rollout{
	0% {
	    -webkit-transform: scaleY(1);
	    transform: scaleY(1);
	}
	100%{
		 -webkit-transform: scaleY(0);
		 transform: scaleY(0);
	}
}
@-webkit-keyframes spinner {
	from { -webkit-transform: rotate(0deg); -ms-transform: rotate(0deg); transform: rotate(0deg); }
	to { -webkit-transform: rotate(360deg); -ms-transform: rotate(360deg); transform: rotate(360deg); }
}
@keyframes spinner {
	from { -webkit-transform: rotate(0deg); -ms-transform: rotate(0deg); transform: rotate(0deg); }
	to { -webkit-transform: rotate(360deg); -ms-transform: rotate(360deg); transform: rotate(360deg); }
}
@-webkit-keyframes shine {
  from {left: -15%;}
  to {left: 115%;}
}
@keyframes shine {
  from {left: -15%;}
  to {left: 115%;}
}
/* k-frame animations end*/
@include media-breakpoint-down(sm){
	.mobile_menu_cnt{
		&__inner{
			width: 100vw;
		}
	}
	.search_block{
		.search_field{
			width: 240px;
		}
	}
	.comment-respond input[type=text]{
		width: 100%;
	}
	.comment-respond input[type=submit]{
		font-size: 1.2rem;
        padding-top: 0.8rem;
	}
}
@include media-breakpoint-down(md) {
	.top{
		height: 140px;
		h1{
			padding-top: 30px;
		}
	}
	.single_post_main, .main, .page_404{
		min-height: calc(100vh - (140px + 170px));
	}
	.main_site_header{
		font-size: 2rem;
	}	
}