.single_title{
	font-size: 3rem;
	padding: 0.5em 0 0.5em;
}
.single_page_p{
	&--w_picture{
		margin: 0 2.5rem;
		margin-top: -2.5rem;
	}
}
.index_post{
	&__heading{
		font-size: 1.4rem;
	    &--w_thum{
			margin-top: 1rem;
			background-color: #f8f9fa;
			color: #2F2F2F;
			-webkit-transition: color .3s cubic-bezier(0.445, 0.05, 0.55, 0.95) 0s;
			-o-transition: color .3s cubic-bezier(0.445, 0.05, 0.55, 0.95) 0s;
			transition: color .3s cubic-bezier(0.445, 0.05, 0.55, 0.95) 0s;
		}
	}
}
.thumbnail_cnt__link.heading_w_thum{
	&:hover > .index_post__heading--w_thum{
		color: #e83e8c;
	}
}
/* widget*/
.widget_title{
	font-size: 16px;
}
/*steam page start*/
.stream_page{
	.name, .viewers, .live{
		font-size: 17px;
	}
	.stream_page_item_title{
        font-size: 19px;
	}
}
/*steam page end*/
