.index_post{
	&__heading{
		font-size: 1.5rem;
		padding: 0.2rem 0;
		&--w_thum{
			padding: 0.4rem 1rem 0.1rem 1rem;
		}
	}	
}
.video_play_btn{
	font-size: 1.3rem;
	padding: 8px 12px;
}
.best_cas{
	&__list{
		.ratings_cnt.position-relative, .ratings_cnt.position-absolute{
			.rating_info{
				display: inline-block;
			}
		}
	}
}
.widget_cas_img_cnt{
	width: 180px;
	&__img{
		width: 180px;
	}
}
.widget_title{
	padding-left: 2rem;
	padding-right: 2rem;
}
.ratings_cnt{
	.post-ratings{
		img{
			width: 14px;
		}
	}
	.rating_info{
		display: inline-block;
	}
}
.filter_cnt{
	.btn{
		font-size: 2rem;
	}
}
/* stream page start*/
.stream_page__item, .grid-sizer {
  width: 50%;
}
.controles_cnt{
	&__buttons{
		.button{
			font-size: 0.8rem;
		}
	}
}
/* stream page end*/