$cus_pink: #e83e8c;
.top{
	.mid_logo{
		display: none !important;
	}
	&__logo{
		background: url(../inc/images/bg.png);
		display: block;
		position: absolute;
		background: -webkit-radial-gradient(center, ellipse, #c5ff32 0%,#b0db43 100%);
		background: -o-radial-gradient(center, ellipse, #c5ff32 0%,#b0db43 100%);
		background: radial-gradient(ellipse at center, #c5ff32 0%,#b0db43 100%);
		width: 200px;
		left: 4rem;
		bottom: -2.5rem;
		padding: 0rem 2.5rem;
		padding-bottom: 4.2rem;
		padding-top: 1rem;
		>a{
			max-width: 120px;
		    max-height: 120px;
		    display: block;
		    overflow: hidden;
		}
		.logo_lable{
			background: -webkit-radial-gradient(center, ellipse, #c5ff32 0%,#b0db43 100%);
			background: -o-radial-gradient(center, ellipse, #c5ff32 0%,#b0db43 100%);
			background: radial-gradient(ellipse at center, #c5ff32 0%,#b0db43 100%);
			position: absolute;
			padding: 0.5rem 0;
			bottom: 1rem;
			left: -6%;
            width: 112%;
			text-align: center;
			-webkit-box-shadow:  0px 1px 3px #777;
			box-shadow:  0px 1px 3px #777;
			line-height: 24px;
			&__link{
				color: #ffff;
				&:hover{
					color: $cus_pink;
				}
			}
			&::before {
			    display: block;
			    content: "";
			    width: 0;
			    height: 0;
			    border-style: solid;
			    border-width: 0 12px 9px 0;
			    border-color: transparent #777 transparent;
			    position: relative;
			    top: 32px;
			    float: left;
			}
			&::after {
			    display: block;
			    content: "";
			    width: 0;
			    height: 0;
			    border-style: solid;
			    border-width: 9px 12px 0 0;
			    border-color: #777 transparent transparent transparent;
			    float: right;
			    position: relative;
			    top: 32px;
			}
		}
	}
	.site_header_cnt{
		-webkit-box-flex: 0;
		-ms-flex: 0 0 100%;
		flex: 0 0 100%;
		max-width: 100%;
	}
}